body {
    background-color: black;
    color: white;
    font-family: sans-serif;
}

#app {
    padding-top: 20vh;
}

#app .track {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#app .artist {
    flex: 1 1 0;
    text-align: center;
}

#app .track .artist .letter {
    font-size: 5em;
}

#app .track .artist .artistName {
    font-size: 3em;
}

#app .song {
    text-align: center;
    font-size: 2em;
    flex: 1 1 0;
}
